@charset "utf-8";
@use "../../global/_" as g;

.contact_btn {
	@include g.font-mincho;
	font-size: 2rem;
	color: g.$white;
	padding: 20px 0;
	background: g.$subColor05;
	background: #95C9EE;background: linear-gradient(90deg, rgba(149, 201, 238, 1) 0%, rgba(3, 110, 184, 1) 84%);
	border: 2px solid g.$subColor05;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		content: "";
		width: 46px;
		aspect-ratio: 46/34;
		margin-right: 8px;
		background: url(../img/common/ico_mail.svg) no-repeat center / 100%;

		@include g.lgMax {
			width: 32px;
		}

	}

	&::after {
		content: "";
		width: 32px;
		height: 32px;
		margin-left: 16px;
		border-radius: 30px;
		background: g.$white url(../img/common/ico_arrow-blue.svg) no-repeat center / 12px;
	}

	&.__works {

		&::before {
			width: 43px;
			aspect-ratio: 43/42;
			background: url(../img/common/ico_works.svg) no-repeat center / 100%;

			@include g.lgMax {
				width: 29px;
			}

		}

	}

}

.freecall_btn {
	@include g.font-en;
	font-size: 4rem;
	font-weight: 600;
	line-height: 1;
	color: g.$white;
	padding: 20px 0 20px 30px;
	background: g.$subColor05;
	background: linear-gradient(90deg, rgba(149, 201, 238, 1) 0%, rgba(3, 110, 184, 1) 84%);
	border: 2px solid g.$subColor05;
	border-radius: 100px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	.__ttl {
		width: 117px;
		aspect-ratio: 1175/200;
		margin-bottom: 10px;
		background: url(../img/common/ico_center.svg) no-repeat center / 100%;
	}

	.__sub {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 8px;

		&::before {
			content: "";
			width: 28px;
			aspect-ratio: 28/42;
			background: url(../img/common/ico_tel.svg) no-repeat center / 100%;

			@include g.lgMax {
				width: 19px;
			}

		}

	}

}

.link_blank {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1;
	text-decoration: underline;
	color: g.$mainColor02;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	&::after {
		content: "";
		width: 14px;
		aspect-ratio: 1;
		background: url(../img/common/ico_blank.svg) no-repeat center / 100%;
	}

}

.ol_link {
	font-weight: 500;
	line-height: 1;
	color: g.$mainColor02;
	display: flex;
	align-items: center;
	gap: 4px;

	&::before {
		content: "";
		width: 5px;
		height: 5px;
		border-radius: 5px;
		background: g.$mainColor02;
	}

}

.c-floating-menu {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	display: none;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	@include g.smMax {
		display: block;
	}

	&__list {
		display: flex;
		align-items: center;

		.c-floating-menu__item {
			width: 50%;
			
			.__link {
				@include g.font-mincho;
				font-size: 1.7rem;
				line-height: 1;
				color: g.$white;
				border: 2px solid g.$mainColor02;
				background: rgba(38, 14, 9, 0);
				background: linear-gradient(129deg,rgba(88, 59, 53, 1) 0%, rgba(66, 37, 15, 1) 68%);
				padding: 15px 0;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 15px;

				&::after {
					content: "";
					width: 32px;
					height: 32px;
					border-radius: 30px;
					background: g.$white url(../img/common/ico_arrow-brown.svg) no-repeat center / 12px;
				}

			}

			&.contact_nav {

				.__link {
					background: g.$subColor05;
					background: linear-gradient(90deg, rgba(149, 201, 238, 1) 0%, rgba(3, 110, 184, 1) 84%);
					border: 2px solid g.$subColor05;

					&::after {
						content: "";
						width: 32px;
						height: 32px;
						border-radius: 30px;
						background: g.$white url(../img/common/ico_arrow-blue.svg) no-repeat center / 12px;
					}

				}

			}

		}

	}

}
