@charset "utf-8";
@use "../../global/_" as g;

.l-gnav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;
	position: relative;
	z-index: 5;

	&__logo {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 8px;

		@include g.smMax {
			width: 135px;
			margin: 0 0 0 15px;
			display: block;
		}

		@include g.xsMax {
			width: 125px;
			margin: 0 0 0 10px;
		}

		.__sub {

			&:first-of-type {
				width: 144px;

				@include g.mdMax {
					width: 96px;
				}

				@include g.smMax {
					display: none;
				}

			}

			&:last-of-type {
				width: 360px;

				@include g.mdMax {
					width: 240px;
				}

				@include g.smMax {
					width: 100%;
				}

				.__img {

					@include g.smMax {
						vertical-align: baseline;
					}

				}

			}

		}

	}

	&__inner {

		@include g.smMax {
			display: none;
		}

	}

	&__list {
		display: flex;
		align-items: center;

		.l-gnav__item {

			.ol_link {
				width: 152px;
				padding: 6px 10px;
				color: g.$white;
				justify-content: space-between;

				&::before {
					content: none;
				}

				&::after {
					content: "";
    				width: 24px;
    				height: 24px;
    				border-radius: 25px;
    				background: g.$white url(../img/common/ico_arrow-blue.svg) no-repeat center / 12px;
				}

			}

			&.works_nav {

				.ol_link {
					border: 2px solid g.$subColor04;
    				background: rgba(38, 14, 9, 0);
    				background: linear-gradient(129deg, rgba(38, 14, 9, 0.5) 0%, rgb(66, 37, 15) 68%);

					&::after {
    					background: g.$white url(../img/common/ico_arrow-brown.svg) no-repeat center / 12px;
					}

				}

			}

			&.contact_nav {

				.ol_link {
					background: g.$subColor05;
    				background: linear-gradient(90deg, rgb(149, 201, 238) 0%, rgb(3, 110, 184) 84%);
    				border: 2px solid g.$subColor05;
				}

			}

		}

	}
	
}
