@charset "utf-8";
@use "../../global/_" as g;

.c-contact-bottom {
	background: url(../img/common/bg_contact.png) no-repeat center / cover;

	&__inner {
		width: min(1220px,90%);
		padding: 120px 0;
		margin: 0 auto;

		@include g.smMax {
			padding: 45px 0;
		} 

	}

	.c_ttl {
		font-size: 3.2rem;
		line-height: 1;
		color: g.$white;
		margin-bottom: 50px;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;

		@include g.smMax {
			font-size: 2rem;
			margin-bottom: 30px;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}

		&::before {
			color: g.$white;
		}

	}

	&__catch {
		@include g.font-mincho;
		font-size: clamp(1.8rem, 0.213rem + 2.49vw, 3.2rem);
		line-height: 1.5;
		color: g.$white;
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		gap: 10px;

		@include g.smMax {
			padding-bottom: 15px;
			border-bottom: 1px solid g.$white;
		}

		.__sub {
			flex-shrink: 0;
		}

		&::after {
			content: "";
			width: 100%;
			height: 1px;
			background: g.$white;

			@include g.smMax {
				content: none;
			}

		}

	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 80px;

		@media screen and (max-width:1400px) {
			flex-direction: column;
			gap: 30px;
		}

		&--form {
			background: g.$white;
			border: 3px solid g.$subColor02;
			border-radius: 100px;
			padding: 30px 220px 30px 80px;
			position: relative;
			transition: all 0.3s;

			@include g.smMax {
				width: min(343px,100%);
				padding: 20px 0 20px 45px;
			}

			.__catch {
				@include g.font-mincho;
				font-size: clamp(1.6rem, -0.213rem + 2.84vw, 3.2rem);
				line-height: 1;
				color: g.$subColor02;
				margin-bottom: 20px;
				display: block;

				@include g.smMax {
					font-size: 1.6rem;
					text-align: left;
					margin-bottom: 10px;
				}

			}

			.__logo {
				width: 225px;
				margin-bottom: 10px;
				display: block;

				@include g.smMax {
					width: 169px;
					margin-bottom: 5px;
				}

			}

			.__info {
				font-size: clamp(1.6rem, 0.693rem + 1.42vw, 2.4rem);
				font-weight: 700;

				@include g.smMax {
					font-size: 1.6rem;
				}

			}

			&::after {
				content: "";
				background: g.$subColor02 url(../img/common/ico_arrow-white.svg) no-repeat center / 13px;
				width: 48px;
				height: 48px;
				margin: auto;
				border-radius: 50px;
				position: absolute;
				right: 80px;
				top: 0;
				bottom: 0;
				transition: all 0.3s;

				@include g.smMax {
					right: 30px;
				}

			}

			&:hover {
				background: g.$subColor05;

				&::after {
					right: 75px;
				}

			}

		}

		.freecall_btn {
			padding: 0;
			border: none;
			background: transparent;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			.__ttl {
				width: 130px;

				@include g.smMax {
					width: 117px;
				}

			}

			.__sub {
				font-size: clamp(4.8rem, 2.08rem + 4.27vw, 7.2rem);
				gap: 5px;

				@include g.smMax {
					font-size: 4.8rem;
				}

				@include g.xsMax {
					font-size: 4.2rem;
				}

				&::before {
					width: 71px;
					aspect-ratio: 71/56;
					background: url(../img/common/pic_freecall-contact.svg) no-repeat center / 100%;

					@include g.smMax {
						width: 45px;
					}

				}

			}

		}

	}

}