@charset "utf-8";
@use "../../global/_" as g;

.error-mv {

    .c_ttl {
        @include g.font-en;
        font-size: clamp(4.8rem, -49.2rem + 57.6vw, 12rem);

        @include g.smMax {
            text-align: center;
        }

    }
    
}

.c-error {
    width: min(1280px,90%);
    margin: 0 auto 180px;

    .c_ttl {
        text-align: center;
        color: g.$mainColor02;
        margin-bottom: 45px;
        justify-content: center;
    }

    .c_txt {
        font-size: 1.8rem;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 80px;

        @include g.smMax {
            font-size: 1.5rem;
        }

    }

    .c_btn {
        @include g.font-mincho;
        font-size: clamp(1.6rem, 1.147rem + 0.71vw, 2rem);
        color: g.$mainColor02;
        width: min(400px, 100%);
        margin: 0 auto;
        padding: 20px 20px 20px 40px;
        border: 1px solid g.$mainColor02;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
            content: "";
            width: 40px;
            height: 40px;
            background: #42250F url(../img/common/ico_arrow-white.svg) no-repeat center / 14px;
            border-radius: 40px;
        }

    }

}