@charset "utf-8";

@use "../../global/_" as g;

@font-face {
  font-family: 'icomoon';
  src:  url('/temp/common/icon/fonts/icomoon.eot');
  src:  url('/temp/common/icon/fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('/temp/common/icon/fonts/icomoon.woff2') format('woff2'),
    url('/temp/common/icon/fonts/icomoon.ttf') format('truetype'),
    url('/temp/common/icon/fonts/icomoon.woff') format('woff'),
    url('/temp/common/icon/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	.__hidden {
		@include g.hidden;
	}
}

.icon-filter_none:before {
  content: "\e3e0";
}
.icon-search:before {
  content: "\f002";
}
.icon-check:before {
  content: "\f00c";
}
.icon-home:before {
  content: "\f015";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-phone:before {
  content: "\f095";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}