@charset "utf-8";
@use "../../../global/_" as g;
.e-form-check {
	.__elem {
		display: none;
		&:checked + .__txt {
			&::after {
				opacity: 1;
			}
		}
	}
	.__txt {
		position: relative;
		padding: 0 0 0 20px;
		cursor: pointer;
		&::before {
			left: 0;
			width: 14px;
			height: 14px;
			border: 2px solid #d9d9d9;
			content: '';
			@include g.centering-elements(false, true);
		}
		&::after {
			left: 1px;
			content: '\f00c';
			color: g.$baseColor;
			@include g.font-icon;
			font-size: g.$fz-m;
			font-weight: 600;
			opacity: 0;
			@include g.centering-elements(false, true);
		}
	}
}
