@charset "utf-8";
@use "../../global/_" as g;
.e-h3 {
	margin: 0 0 20px;
	font-size: 2.6rem;
	line-height: 1.4;
	@include g.font-bold;

	@include g.smMax {
		margin: 0 0 15px;
		font-size: g.$fz-xl;
	}
}
