@charset "utf-8";
@use "../../global/_" as g;

.c-link-bottom {
	padding: 180px 0 190px;
	position: relative;

	@include g.smMax {
		padding: 40px 0 60px;
	}

	&::before {
		content: "";
		width: min(1840px,90%);
		height: 1px;
		margin: 0 auto;
		background: g.$subColor01;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	&__inner {
		width: min(1280px,90%);
		margin: 0 auto;
	}

	&__ttl {
		@include g.font-mincho;
		font-size: 4.8rem;
		line-height: 1.5;
		text-align: center;
		color: g.$subColor01;
		margin-bottom: 190px;

		@media screen and (max-width:1420px) {
			font-size: 4rem;
		}

		@include g.lgMax {
			font-size: 3.2rem;
		}

		@include g.mdMax {
			margin-bottom: 80px;
		}

		@include g.smMax {
			font-size: 2rem;
			margin-bottom: 40px;
		}

	}

	&__list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		gap: 40px;

		@include g.mdMax {
			gap: 15px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&--btn {
			width: 48%;
			padding: 30px;
			position: relative;
			transition: all 0.3s;

			@include g.mdMax {
				padding: 20px;
			}

			@include g.smMax {
				width: min(340px,100%);
				margin: 0 auto
			}

			.__ttl {
				@include g.font-mincho;
				font-size: 2rem;
				line-height: 1.35;
				width: 100%;
				padding-bottom: 10px;
				margin-bottom: 15px;
				border-bottom: 1px solid g.$line-gray;
				display: inline-block;

				@media screen and (max-width:1420px) {
					font-size: 1.8rem;
				}

				@include g.lgMax {
					font-size: 1.6rem;
				}

			}

			.__logo {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 15px;

				.__img {
					width: 75%;
				}

				&::after {
					content: "";
					background: g.$black url(../img/common/ico_arrow-white.svg) no-repeat center / 13px;
					width: 48px;
					height: 48px;
					border-radius: 50px;

					@include g.lgMax {
						width: 40px;
						height: 40px;
					}

				}

			}

			&:hover {

				&::after {

					right: 75px !important;

					@include g.lgMax {
						right: 45px !important;
					}

					@include g.mdMax {
						right: 25px !important;
					}

					@include g.smMax {
						right: 20px !important;
					}

				}

			}

			&.c-link-bottom__list--renovation {
				border: 3px solid g.$black;

				&:hover {
					background: g.$subColor03;
				}

			}

			&.c-link-bottom__list--support {
				border: 3px solid g.$subColor02;

				&:hover {
					background: g.$subColor05;

					&::after {
						right: 75px;
					}

				}

				.__ttl {
					color: g.$subColor02;
				}

				.__logo {

					&::after {
						background: g.$subColor02 url(../img/common/ico_arrow-white.svg) no-repeat center / 13px;
					}

				}

			}

			&.c-link-bottom__list--buysell {
				border: 3px solid g.$subColor10;

				&:hover {
					background: g.$mainColor03;

					&::after {
						right: 75px;
					}

				}

				.__ttl {
					color: g.$subColor10;
				}

				.__logo {

					&::after {
						background: g.$subColor10 url(../img/common/ico_arrow-white.svg) no-repeat center / 13px;
					}

				}

			}

		}

	}

}