@charset "utf-8";
@use "../../global/_" as g;
.e-a-txt-arrow {
	position: relative;
	display: block;
	padding: 0 0 0 1.25em;
	
	.__ico {
		color: g.$baseColor;
		line-height: 1.2;
		
		&::before {
			display: inline-block;
		}
		&:first-child {
			position: absolute;
			top: 3px;
			left: 5px;
		}
		&.icon-filter_none {
			@include g.smMax {
				font-size: g.$fz-xs;
			}
		}
	}
	.__txt {
		color: g.$text-black;
	}

	//色オプション 青 -------------------------------
	
}
