@charset "utf-8";
@use "../../global/_" as g;

.c_ttl {
	@include g.font-mincho;
	font-size: clamp(2rem, -7rem + 9.6vw, 3.2rem);
	line-height: 1;
	display: flex;
	align-items: center;

	&::before {
		content: attr(data-en) "";
		@include g.font-en;
		font-size: clamp(4.8rem, -49.2rem + 57.6vw, 12rem);
	}

}

.__catch {
	@include g.font-mincho;
	font-size: clamp(2.4rem, -0.32rem + 4.27vw, 4.8rem);
	line-height: 1.5;
	text-align: center;
	color: g.$mainColor02;
	margin-bottom: 120px;
}